{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<h1>Login Here</h1>

<form action="{{url_for('login')}}" method="POST">


<div>
    {{form.username(class_='form-control',placeholder='Username')}}

    <ul>
        {% for error in form.username.errors %}
        <li>{{error}}</li>
        {% endfor %}

    </ul>

</div>


<div>

    {{form.password(placeholder='password')}}

    <ul>
        {% for error in form.password.errors %}
        <li>{{error}}</li>
        {% endfor %}

    </ul>
</div>


<br>

<div>

    {{ form.submit_button }}
</div>


{{form.csrf_token}}

</form>

{% endblock %}