{% extends "base.html" %}

{% block title %} Registration {% endblock %}

{% block content %}

<h1>Register Here</h1>

<form action="{{url_for('index')}}" method="POST">


<div>
    {{form.username(class_='form-control',placeholder='Username')}}

    <ul>
        {% for error in form.username.errors %}
        <li>{{error}}</li>
        {% endfor %}

    </ul>

</div>

<div>

    {{form.password(placeholder='password')}}

    <ul>
        {% for error in form.password.errors %}
        <li>{{error}}</li>
        {% endfor %}

    </ul>
</div>

<div>

    <ul>
        {% for error in form.confirm_psswd.errors %}
        <li>{{error}}</li>
        {% endfor %}

    </ul>
{{form.confirm_psswd(placeholder='confirmpassword')}}

</div>
<br>



<div>

    {{ form.submit_button }}
</div>


{{form.csrf_token}}

</form>

{% endblock %}